* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body  {
  font-family: 'Work Sans', sans-serif;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

@media (max-width: 767px) {
.special-heading {
  font-size: 60px !important;
}
.special-heading + p {
  margin-top: -17px !important;
  font-size: 15px !important;
}
.services-content {
  flex-direction: column;
  align-items: center;
}
.sers {
  flex-direction: column;
  text-align: center;
}
.sers i {
  text-align: center;
}
  .container {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) { 
.container {
  width: 748px;  
}
}
@media (min-width: 992px) { 
.container {
  width: 970px;
}

}
@media (max-width:1199px) {
  .services-content {
    justify-content: space-evenly !important;
  }
  .services-content .col:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1200px) { 
.container {
  width: 1180px;
}

}

header {
  padding: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 60px;
  height: 24px;
  overflow: hidden;
}

.list:hover .icon span:nth-child(2) {
  width: 100%;
}
.list:hover ul  {
  visibility: visible;
}
.list:hover ul::before  {
  visibility: visible;
}
.icon {
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  position: relative;
}
.icon span:nth-child(1) {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
.icon span:nth-child(2) {
  width: 60%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: var(--main-duration);
}
.icon span:nth-child(3) {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}


.list ul::before {
  width: 0;
  position: absolute;
  content: '';
  right: 5px;
  top: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  visibility: hidden;
}

.list ul {
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  content: '';
  margin: 0;
  padding: 0;
  top: 30px;
  right: 5px;
  min-width: 200px;
  z-index: 1;
  background-color: #f6f6f6;
  direction: ltr;
}

.list ul li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3)
  {
  border-bottom: 1px solid rgb(183, 182, 182);
}

a {
  color:  black;
  text-decoration: none;
  padding: 15px;
  display: block;
}

a:hover {
  margin-left: 10px;
  transition: all var(--main-duration);
}

.landing {
  background-image: url(../imgs/land.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .intro-text {
  text-align: center;
  width: 320px;
  max-width: 320px;
}
.landing .intro-text h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(224,224,224,255);
  text-align: left;
}


.feature > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.dod {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}
.dod i {
  color: var(--main-color);
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.dod h3 {
  margin-bottom: 45px;
  font-weight: 800;
}
.dod p {
  opacity: .7;
  line-height: 1.8;
}


.services .container {
  display: block;
}

.special-heading {
  color: rgba(214,215,216,255);
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  font-size: 20px;
  color: gray;
  margin: -30px 0 0;
  text-align: center;
}



.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.services-content .col {
  width: 360px;
}
.sers  {
  display: flex;
  margin-bottom: 60px;
}
.sers i {
  flex-basis: 60px;
  color: var(--main-color);
}
.sers .text {
  font-weight: 300;
  line-height: 1.6;
  flex: 1;
}
.sers h3 {
  margin-top: 0;
}
.col .image {
  position: relative;
  text-align: center;
}

.col .image img {
  width: 260px;
}

.col .image::before {
  position: absolute;
  content: "";
  right: 0;
  transform: translateY(-50px);
  background-color: var(--secondary-color);
  width: 100px;
  height: 450px;
  z-index: -1;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(224,224,224,255);
}

.portfolio .container {
  display: flex;
  flex-direction: column;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  text-align: end;
  margin-top: 85px;
}

.pro {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 30px;
  text-align: start;
}
.pro-text {
  padding: 20px;
  line-height: 1.6;
}
.pro-text h3 {
  margin: 0;
}
.pro-text p {
  color: var(--secondary-color);
  margin-bottom: 0;
}



.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  margin-top: 100px;
}

.about-text {
  grid-area: 1 / 2;
  margin-left: 250px;
  line-height: 1.8;
  width: 640px;
}
.about-content .about-text > h4 {
  margin-bottom: 70px;
}

.about-text hr {
  height: 1px;
  background-color: var(--main-color);
  width: 310px;
  margin-right: 360px;
}
.about-text p {
  margin-top: 30px;
  color: #777;
}

.about-content> .image {
  position: relative;
}

.about-content > .image::before {
  position: absolute;
  content: "";
  left: 0;
  transform: translateX(-20px) translateY(-40px);
  background-color: rgba(214,215,216,255);
  width: 100px;
  height: 450px;
  z-index: -1;
}

.about-content > .image::after {
  position: absolute;
  content: "";
  right: 0;
  transform: translateX(150px) translateY(-40px);
  background-color: white;
  width: 120px;
  height: 300px;
  z-index: -1;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}